<%= form_with model:@list, url: lists_path, local: true do |f| %>
<%= f.text_field :listname, id: "list_name_rails" %>
<%= f.text_field :shift, id: "shift_name_rails" %>

<div>~過去に登録したリスト一覧~</div>
<% testt="" %>
<% @lists.each do | lists | %>
    <% if current_user.id == lists.user.id %>
        <% testt += lists.shift %>
        <%= "・#{lists.listname}：" %><select><%= raw(lists.shift) %></select>
    <% end %>
<% end %>
<div>~リストの新規作成~</div>
<div id="list_input"></div>
<div><input type="text" id="list_name" placeholder="リストの名前を入力"><button id="list_button" onclick="listnameClick()">決定</button></div>
<div>~その他のメニュー~</div>
<div><%= link_to "トップページへ戻る", root_path %></div>
<div><%= link_to "シフトを作成する", new_shift_path %></div>
<div><%= link_to "ユーザー情報を編集する", edit_user_registration_path %></div>
<div><%= link_to "ログアウトする", destroy_user_session_path, method: :delete%></div>



<script>
 
function listnameClick(){
    event.preventDefault();
    // document.getElementById("list_speak").style.display ="none";
    document.getElementById("list_name").style.display ="none";
    document.getElementById("list_button").remove()
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd', `<div></div>`);
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd', `<input type="text" id="list" placeholder="シフトの名前を入力"><button id="listadd_button" onclick="listaddnameClick()">追加</button><button id="listadd_button" onclick="railssendClick()">登録</button>`);
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd',`<div>リスト名：${document.getElementById("list_name").value}</div>`);
    document.getElementById("list_name_rails").value = document.getElementById("list_name").value
}

var allshiftname = ""
var shiftmei = 1
function listaddnameClick(){
    event.preventDefault();
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd',`<div>シフト名${shiftmei}：${document.getElementById("list").value}</div>`);
    shiftmei ++
    allshiftname += `<option>${document.getElementById("list").value}</option>`
    document.getElementById("shift_name_rails").value = allshiftname
    document.getElementById("list").value = ""
}


</script>
<% end %>
