<div class="border">
    <% if user_signed_in? %>
        <% @lists.each do | list | %>
            <%= link_to  list_path(list), class: "shift_link" do %>
                <%if list.user.id == current_user.id%>
                    <div class="shift" style="background-image:url(<%= asset_path "fusen5.png" %>)">
                        <div class="pin"><%= link_to image_tag('pin.png', :size =>'30x30'), root_path %></div>
                        <div class="icon">
                            <%= link_to image_tag('dust.png', :size =>'28x28'), list_path(list), method: :delete %>
                            <img src="<%= asset_path 'edit_icon.png' %>" height="28" width="28" onclick="edit_templeat()" >
                            <div>テンプレート名：<span><%= list.listname %></span></div>
                            <div><%= "内容："%><select><%= raw(list.shift) %></select></div>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</div>

<%= form_with model:@list, url: lists_path, local: true do |f| %>
    <div hidden><%= f.text_field :listname, id: "list_name_rails" %></div>
    <div hidden><%= f.text_field :shift, id: "shift_name_rails" %></div>
    <div class="list_input" style="background-image:url(<%= asset_path "note2.png" %>)">
        <div id="list_input" class="content_line" style="background-image:url(<%= asset_path "head011_02.png" %>)">テンプレートの新規作成</div>
        <div><input type="text" id="list_name" placeholder="テンプレート名を入力"><button id="list_button" onclick="listnameClick()">決定</button></div>
    </div>


<script>
 
function listnameClick(){
    event.preventDefault();
    // document.getElementById("list_speak").style.display ="none";
    document.getElementById("list_name").style.display ="none";
    document.getElementById("list_button").remove()
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd', `<div></div>`);
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd', `<input type="text" id="list" placeholder="シフトの名前を入力"><button id="listadd_button" onclick="listaddnameClick()">追加</button><button id="listadd_button" onclick="railssendClick()">登録</button>`);
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd',`<div>リスト名：${document.getElementById("list_name").value}</div>`);
    document.getElementById("list_name_rails").value = document.getElementById("list_name").value
}

var allshiftname = ""
var shiftmei = 1
function listaddnameClick(){
    event.preventDefault();
    document.getElementById("list_input").insertAdjacentHTML('beforeEnd',`<div>シフト名${shiftmei}：${document.getElementById("list").value}</div>`);
    shiftmei ++
    allshiftname += `<option>${document.getElementById("list").value}</option>`
    document.getElementById("shift_name_rails").value = allshiftname
    document.getElementById("list").value = ""
}

function edit_templeat(){
    event.preventDefault();
    alert('Click');
};

</script>

<% end %>
