<% if user_signed_in? %>
    <%= link_to "シフトを作成する", new_shift_path, class: "shift-create" %>
    <%= link_to "マイページ", lists_path, class: "list-index" %>

    <% @shifts.each do | shift | %>
    <%= link_to  shift_path(shift), class: "show-link" do %>
        <%if shift.user.id == current_user.id%>
            <div class="border"></div>
            <% array = shift.shift.split(",").uniq! %>
            <div><%= "作成日: #{shift.updated_at}"%></div>
            <div><%= "シフト月: #{shift.year.name}#{shift.month.name}"%></div>
            <div><%= "リスト: #{array.join(', ')}" %></div>
            <%= link_to "削除", shift_path(shift), method: :delete, class:"shift-destroy" %>
        <% end %>
        <% end %>
    <% end %>
<% end %>
