<%= form_with model:@shift, url: shifts_path, local: true do |f| %>
<div id="speak_month">何年何月のシフトを作成しますか?</div>
<div>
    <%= f.collection_select(:year_id, Year.all, :id, :name, {}, {class:"select-box", id:"year-category"}) %>
    <%= f.collection_select(:month_id, Month.all, :id, :name, {prompt: "選択してください"}, {class:"select-box", id:"month-category"}) %>
</div>
<div id="speak_shift"> </div>
<div id="shift_list"></div>
<div id="calender"></div>
<div hidden><%= f.text_field :shift, id: "all-shift" %></div>

<% @lists.each do | lists | %>
    <% if current_user.id == lists.user.id %>
        <% "・#{lists.listname}：" %><select><%= raw(lists.shift) %></select>
    <% end %>
<% end %>

<%@lists.length.times do |i|%>

    <div <%="id=test#{i}"%>><%= @lists[i].listname%></div>

<%end%>

<script>
var ShiftList = ""
function buttonClick(){
event.preventDefault();
    if (document.getElementById("list_input").value != "") {
         document.getElementById("shift_list").insertAdjacentHTML('beforeEnd', `<div>${document.getElementById("list_input").value}</div>`);
         ShiftList += `<option>${document.getElementById("list_input").value}</option>`;
         document.getElementById("list_input").value = "";
    }
    else  {
        alert('シフトが入力されていません! 空白のシフトはデフォルトでついています!');
        };
}


function calender(){
        event.preventDefault();
        insert = document.getElementById("calender")
        HTMLstr = ""
        myDate    = new Date(document.getElementById("year-category").value, document.getElementById("month-category").value-1,1);                                    
        myWeekTbl = new Array("日","月","火","水","木","金","土");  
        myMonthTbl= new Array(31,28,31,30,31,30,31,31,30,31,30,31);
        myYear = myDate.getFullYear();                                
        if (((myYear%4)==0 && (myYear%100)!=0) || (myYear%400)==0){
            myMonthTbl[1] = 29;                                     
        }
        myMonth = myDate.getMonth();                               
        myToday = myDate.getDate();                                
        myDate.setDate(1);                                        
        myWeek = myDate.getDay();                                  
        myTblLine = Math.ceil((myWeek+myMonthTbl[myMonth])/7);    
        myTable   = new Array(7*myTblLine);                        
    
        for(i=0; i<7*myTblLine; i++) myTable[i]=" ";              
        for(i=0; i<myMonthTbl[myMonth]; i++)myTable[i+myWeek]=i+1;
     
        HTMLstr += `<table border='1' width='500' height='400'>`   
        HTMLstr += `<tr><td colspan='7' bgcolor='#7fffd4'>`  
        HTMLstr += `<strong>${myYear}年${myMonth+1}月カレンダー</strong>`
        HTMLstr += `</td></tr>`
        HTMLstr += `<tr>`;  
    
        for(i=0; i<7; i++){                                       
            HTMLstr += `<td align='center'` 
            if(i==0)HTMLstr += "bgcolor='#fa8072'>";           
            else    HTMLstr += "bgcolor='#ffebcd'>";           
                    HTMLstr += `<strong>${myWeekTbl[i]}</strong>`;  
                    HTMLstr += "</td>";
        }
        HTMLstr += "</tr>";
    
        for(i=0; i<myTblLine; i++){                                
            HTMLstr += "<tr>";                                
            for(j=0; j<7; j++){                                     
                HTMLstr += "<td align='center' ";              
                myDat = myTable[j+(i*7)];    
                if (myDat==myToday)HTMLstr += "bgcolor='#00ffff'>" 
                else if(j==0)      HTMLstr += "bgcolor='#ffb6c1'>" 
                                
                else HTMLstr += "bgcolor='#ffffe0'>" 
                
                if (myDat==" "){
                HTMLstr += `<strong>${myDat}</strong>`; 
                }else{HTMLstr += `<strong>${myDat}</strong><div><select id="shift-${myDat}">${ShiftList}<option> </option></select></div>`; }
                HTMLstr += "</td>";    
            }
            HTMLstr += "</tr>";                                
        }
        HTMLstr += "</table>";    
        insert.insertAdjacentHTML('beforeEnd', HTMLstr);
        document.getElementById("list_input").style.display ="none";
        document.getElementById("button").style.display ="none";
        document.getElementById("add_button").style.display ="none";
        document.getElementById("speak_month").style.display ="none";
        document.getElementById("month-category").style.display ="none";
        document.getElementById("shift_list").style.display ="none";
        document.getElementById("speak_shift").textContent = `カレンダーにシフトを入力してください！`;
        document.getElementById("speak_shift").insertAdjacentHTML('beforeEnd', ` <%= f.submit '終了' , id: "send_button" %>`);
        var allform = document.getElementById("send_button")
        all_shift_array = []
        allform.onclick = function (){
        for(i=0; i<31; i++){
            if  (document.getElementById(`shift-${i+1}`) == null)
                break;
            else
                all_shift_array.push(document.getElementById(`shift-${i+1}`).value)
        }
        document.getElementById("all-shift").value = all_shift_array;
        };
};
</script>



<% end %>

